# ---- Build files ----
Makefile
Make*.*
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# ---- CMake folders ----
CMakeFiles/
CMakeScripts/
_deps/
Testing/

# ---- User / IDE files ----
CMakeLists.txt.user
CMakeUserPresets.json

# ---- Compiled binaries ----
*.o
*.exe
*.out
*.a
*.so
*.dylib

# ---- macOS ----
.DS_Store

Rapport_OS202/